#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="content box">
  <div class="columns">
    <div class="column is-half">
      <h1 class="title has-text-centered">About WeatherTop</h1>
      <h2 class="subtitle has-text-centered">
        A simple app to manage and record weather readings
      </h2>
    </div>
    <div class="column is-half">
      <figure class="image is-square">
        <img src="/public/images/met_eireann.png">
      </figure>
    </div>
  </div>
</section>