#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<div class="content box">
    <h1 class="title">
        ${station.name}
    </h1>
    <div class="columns">
        <div class="column is-one-fifth">
            <div class="card has-background-black">
                <div class="card-content has-text-white">
                    <div class="content mt-3">
                        <h3 class="has-text-white">${station.name}</h3>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-black">
                <div class="card-content has-text-white	">
                    <div class="content mt-3">
                        <h3 class="has-text-white">Weather</h3>
                        <br>
                        ${station.getLatestReading().getStatus()}
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-black">
                <div class="card-content has-text-white	">
                    <div class="content mt-3">
                        <h3 class="has-text-white">Temp</h3>
                        <br>
                        ${station.getLatestReading().getTemperature()} °C
                        <br>
                        ${station.getLatestReading().getTemperatureFahrenheit()} °F
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-black">
                <div class="card-content has-text-white	">
                    <div class="content mt-3">
                        <h3 class="has-text-white">Wind</h3>
                        <br>
                        ${station.getLatestReading().getWindBeaufort()} bft
                        <br>
                        ${station.getLatestReading().getWindCompassDirection()}
                        <br>
                        Feels like
                        <br>
                        ${station.getLatestReading().getWindChill()}
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card has-background-black">
                <div class="card-content has-text-white	">
                    <div class="content mt-3">
                        <h3 class="has-text-white">Pressure</h3>
                        <br>
                        ${station.getLatestReading().getPressure()} hpa
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Temperature</th>
            <th>Wind Speed</th>
            <th>Wind Direction</th>
            <th>Pressure</th>
        </tr>
        </thead>
        <tbody>
        #{list items:station.readings, as:'reading'}
        <tr>
            <td>
                ${reading.code}
            </td>
            <td>
                ${reading.temperature}
            </td>
            <td>
                ${reading.windSpeed}
            </td>
            <td>
                ${reading.windDirection}
            </td>
            <td>
                ${reading.pressure}
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>
#{addreading station:station /}
